.page-header
  %h1 Status
%p
  %strong Name:
  %br
    = @status_type.name

= link_to 'Back', status_types_path, class: 'btn btn-default'
= link_to 'Edit', edit_status_type_path(@status_type), class: 'btn btn-default'
= link_to 'Delete', status_type_path(@status_type), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
