= simple_form_for [@ticket, @ticket.statuses.order(created_at: :desc).first] do |f|
  = f.error_notification
  .form-inputs
    = f.association :status_type, required: true, as: :radio_buttons, label: false
  .row
    .col-xs-4
      .form-actions
        = f.button :submit, class: 'btn-primary'
